body {
  font-family: 'Yellowtail', cursive;
  max-width: 75%;
  margin-top: 40px;
  margin-left: 140px;
  margin-right: 80px;
  margin-bottom: 40px;
}

header {
  margin: 30px;
  /*border-bottom: 5px solid gray;*/
  padding-bottom: 40px;
}

main {
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 5px solid gray;
}

h1 {
  font-family: Impact;
}

footer {
  margin: 30px;
}

span {
  font-size: 30px;
}
input {
  margin: 9px;
  font-family: Tahoma;
  /*padding: 10px;*/
}

a:link {
  color: #FFFFFF;
}
a:visited {
  color: #FFFFFF;
}
a:hover {
  color: #FFFFFF;
}
a:active {
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

#line {
  background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);
}

#delicious {
  font-size: 36px;
}

#pizza {
  height: 100%;
  width: 100%;
}

#logo {
  float: left;
  height: 50px;
  width: 50px;
}

#underLogo {
  font-family: Tahoma;
  font-size: 10px;
  margin-left: 30px;
  margin-top: -10px;
  color: gray;
}

#underH1 {
  font-family: Tahoma;
  font-size: 12px;
  color: gray;
}

#author{
  font-family: Georgia;
  font-size: 22px;
  color: #000000;
}

#underFooter {
  font-family: Georgia;
  font-size: 12px;
  color: gray;
}

#printerIcon {
  float: right;
  font-size: 12px;
}

#authorPic {
  float: left;
}

#share {
  float: right;
  border: 20px;
  background-color: rgb(188, 112, 88);
  font-family: Georgia;
  font-size: 14px;
  padding: 10px;
  color: #FFFFFF;
}

#copyright {
  font-family: Georgia;
  color: gray;
  font-size: 10px;
}

.instructions {
  font-family: Georgia;
  text-indent: 50px;
  color: gray;
}

.social {
   float: right;
   margin-top: -30px;
 }
 .checkList{
   position: relative;
   font-family: Tahoma;
   color: grey;
 }

 .checkList #listLeft {
   position: absolute;
   top: 42px;
   left: 62px;
   width: 100%;
 }
 .checkList #listRight {
   position: absolute;
   top: 42px;
   left: 500px;
   width: 100%;
}
.selection_checkbox:checked + .selection_label {
  text-decoration:line-through
}

.divider {
  position:relative;
  max-width:960px;
  margin:0 auto;
  overflow:hidden;
}
.center {
  width:50px;
  height:50px;
  margin:0 auto;
}
.divider:before {
  position:absolute;
  content:"";
  border-bottom: 1px solid gray;
  left:-30px;
  height:25px;
  width:50%;
  top:0;
}
.divider:after {
  position:absolute;
  content:"";
  border-bottom: 1px solid gray;
  right:-30px;
  top:0;
  height:25px;
  width:50%;
}
